.insurance-widget {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    text-transform: none;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    min-width: 256px
}


.insurance-widget .rw-contents {
    -ms-flex-align: center;
    display: -ms-flexbox;
    align-items: center;
    line-height: 12px;
    display: flex;
    height: 50px;
    width: auto;
}


.insurance-widget .rw-contents .rw-center .rw-text-top {
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    text-align: left !important;
    font-size: 1.15385rem;
    padding-bottom: 5px;
    font-weight: 700;
    color: #333;
}

.insurance-widget .rw-contents .rw-center .rw-text-bottom {
    font-size: 11.5px;
    line-height: 22px;
    color: #959795;
    text-align: left !important
}

.insurance-widget .rw-contents .rw-center .rw-text-bottom strong{
    font-weight: normal;
    color: #000;
}

.insurance-widget .rw-contents .rw-right {
    padding: 13px 0 0 10px
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    height: 19px;
    width: 41px;
    border-radius: 100px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span.rw-unchecked {
    background-color: #f3f3f3;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span.rw-checked {
    background-color: #F58220;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider {
    position: fixed;
    -ms-flex-item-align: center;
    align-self: center;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 0.3px #c2c2c2;
    box-shadow: 0px 0px 2px 0.3px #c2c2c2
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider.rw-checked{
    margin-left: 3px;
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider.rw-checked{
    margin-left: 6px;
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-slider.rw-checked {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-box-shadow: 0px 0px 2px 0.3px #499dac;
    box-shadow: 0px 0px 2px 0.3px #499dac
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-on-text {
    margin: 0;
    justify-self: left;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 11px;
    padding: 0 0 0 5px;
    color: white;
    font-weight: 600
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-on-text.rw-unchecked {
    display: none
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-off-text {
    margin: 0;
    justify-self: right;
    -ms-flex-item-align: center;
    align-self: center;
    color: #6d6d6d;
    font-size: 11px;
    padding: 0 0 0 21px
}

.insurance-widget .rw-contents .rw-right .rw-checkbox-span .rw-off-text.rw-checked {
    display: none
}

#insuranceWidget{
    padding: 10px 0 14px;
}

#insuranceWidget .insurance-disclaimer{
    font-size: 14px;
    opacity: .99;
}

.insurance-disclaimer {
    margin-bottom: 10px;
    line-height: 17px;
    max-width: 550px;
    margin-top: -6px;
}

